<md-toolbar color="primary">
  <md-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <span>DEMO App</span>
        <span fxFlex></span>

        <span>
          <nav md-tab-nav-bar aria-label="tab-links">
              <a  md-tab-link
                  *ngFor="let tabLink of tabLinks; let i = index"
                  [routerLink]="tabLink.link"
                  [active]="activeLinkIndex === i"
                  (click)="activeLinkIndex = i">
                  {{tabLink.label}}
              </a>
          </nav>
        </span>
        <md-icon class="example-icon">verified_user</md-icon>
    </md-toolbar-row>

</md-toolbar>

<div class="content-wrapper">
    <router-outlet></router-outlet>
</div>
