<h3>
  Welcome to DEMO! Thank you for visiting.
</h3>
<button md-raised-button color="primary" (click)="loadData()"> Load All Users </button>

<md-list>
  <md-list-item *ngFor="let user of data"> {{user._id}}, {{user.name}}, {{user.age}} </md-list-item>
</md-list>
