@import '~@angular/material/theming';

@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$pv-primary: (
    50 : #f0e6ee,
    100 : #dbc2d6,
    200 : #c399ba,
    300 : #aa709e,
    400 : #98518a,
    500 : #863275,
    600 : #7e2d6d,
    700 : #732662,
    800 : #691f58,
    900 : #561345,
    A100 : #ff90e0,
    A200 : #ff5dd2,
    A400 : #ff2ac4,
    A700 : #ff10bc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$pv-accent: (
    50 : #e7f7f8,
    100 : #c4ecee,
    200 : #9ce0e3,
    300 : #74d3d8,
    400 : #57c9cf,
    500 : #39c0c7,
    600 : #33bac1,
    700 : #2cb2ba,
    800 : #24aab3,
    900 : #179ca6,
    A100 : #dafcff,
    A200 : #a7f8ff,
    A400 : #74f4ff,
    A700 : #5bf2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// mandatory stuff for theming
$pv-pp-primary: mat-palette($pv-primary);
$pv-pp-accent:  mat-palette($pv-accent);
$pv-pp-warn:    mat-palette($mat-red);


// include the custom theme components into a theme object
$pv-pp-theme: mat-light-theme($pv-pp-primary, $pv-pp-accent, $pv-pp-warn);

// include the custom theme object into the angular material theme
@include angular-material-theme($pv-pp-theme);